<div>
    <label class="input-label-text" for="inputValue">
        <input 
            (keyup.enter)="focusAndAddItem(inputText.value)"
            id="inputValue" 
            type="text" 
            placeholder="adicione um novo item" 
            autofocus
            #inputText
        >
        
        <button 
            class="btn btn-primary-circle" 
            title="Adicionar um novo item"
            (click)="focusAndAddItem(inputText.value)"
        ></button>
    </label>
</div>
